In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [13]:
data = pd.read_csv('../data/data1/antibodies_rate.csv') 
patients = data.patient.values
df = pd.DataFrame(patients, columns=['patient'])

In [17]:


df1 = pd.read_csv('../MATLAB/best_params_bm.csv') 
df1 = pd.concat([df,df1],axis=1)
df1

,patient,beta0,beta_infty,k,dlt,p,d,tau
0,CHID46,2.020900e-07,1.271900e-07,0.41184,1.52453,41085.62299,3.901000e-02,6
1,CHID77,4.120500e-07,9.962300e-08,0.03291,0.51576,11563.55961,2.501000e-02,6
2,CHID79,2.030100e-07,8.458800e-16,0.01320,0.97946,29382.88451,3.439000e-02,10
3,CHID32,1.195100e-06,9.226200e-07,0.43713,4.15686,10980.08977,1.025400e-01,13
4,CHID40,2.966300e-07,2.019800e-07,0.18906,1.34474,23745.98087,3.773000e-02,6
5,CHID08,2.037500e-08,1.030200e-07,0.11010,5.23275,781644.29827,3.991100e-17,21

In [18]:
df2 = pd.read_csv('../MATLAB/best_params_mat.csv') 
df2 = pd.concat([df,df2],axis=1)
df2

,patient,beta0,beta_infty,k,dlt,p,d,tau
0,CHID46,2.018233e-07,1.274636e-07,0.379388,1.530850,40960.817850,3.921708e-02,6
1,CHID77,3.088616e-07,1.032065e-07,0.052195,0.850671,18438.826505,4.965707e-02,6
2,CHID79,1.586999e-07,-7.303765e-14,0.012597,1.090924,39292.321544,3.611966e-02,10
3,CHID32,1.389828e-06,1.173161e-06,2.733524,4.517794,10089.689092,6.257640e-02,13
4,CHID40,3.060289e-07,2.032271e-07,0.619459,1.418798,25525.007579,3.593146e-02,6
5,CHID08,2.371543e-08,8.719486e-08,0.115995,7.316811,881754.735617,3.542623e-16,21